@import "../base/fn.scss";

.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    padding: px2rem(6px) px2rem(12px);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: $grey70;
    text-align: center;
    background-color: $white;
    border-radius: 4px;
    &:first-child {
      border-right: 0;
    }
    &:last-child {
      border-left: 0;
    }
}
.input-group .input-group-addon {
    border-radius: 0;
    background-color: $white;
}
.form-control {
    display: block;
    width: 100%;
    height: px2rem(80px);
    padding: px2rem(6px) px2rem(12px);
    font-size: 14px;
    line-height: 1.42857143;
    color: $grey70;
    background-color: $white;
    background-image: none;
    border: none;
    border-radius: px2rem(4px);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.form-control:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

