$blue10: #628efd;
$blue11: #18679a; // 整体的风格
$blue12: #2788bc;
$blue20: #74C3FC;  // 标题背景
$blue21: #20a0ff;
$blue22: #2db7f5;
$blue30: #E9F6FE;  // 全部科室表格背景
$blue40: #4db3ff;  //主题蓝色
$blue41: #2d8cf0;
$red: red;
$orange: orange;
$wechat: #00C901; // 微信图标颜色
$zhifubao: #1296DB; // 支付宝图标颜色
$grey8: #f6f6f6;
$grey9:#eef1f6;
$grey10: #f5f8ff;
$grey11: #eeeeee;
$grey12: #f1f1f1;
$grey13: #f4f5f5;
$grey20: #a3a3a3;
$grey21: #c3c3c3;
$grey30: #dcdcdc;
$grey31: #f0f0f0;
$grey32: #f2f6f6;
$grey33: #f1f5f5;
$grey34: #f7f7f7;
$grey35: #e5e5e5;
$grey36: #ccc;
$grey37: #d0d0d0;
$grey38: #f0f5f5;
$grey39: #a9a9a9;
$grey40: #f5f5f5;  //页面灰色背景
$grey41: #bfcbd9;
$grey50: #d2d2d2;  //灰色底边
$grey60: #b5b5b5;  //浅灰色文字
$grey61: #a3a3a3;  //浅灰色文字
$grey62: #9ea7b4;
$grey63: #dddee1;
$grey64: #e9eaec;
$grey65: #0a4486;
$grey66: #333;
$grey67: #1c2438;
$grey68: #464c5b;
$grey69: #666;
$grey70: #313131;   //input文字 黑色btn边框 列表文字 页面文字默认颜色
$grey71: #771201;
$grey72: #95200c;
$transparent: rgba(0, 0, 0, 0);

$black: #000000;
$white: #ffffff;
$main: #3697FD;  //主题色


$transparent: rgba(0, 0, 0, 0);
$fullBlack: rgba(0, 0, 0, 1);
$darkBlack: rgba(0, 0, 0, 0.87);
$lightBlack: rgba(0, 0, 0, 0.54);
$minBlack: rgba(0, 0, 0, 0.26);
$faintBlack: rgba(55, 55, 55, 0.6);
$fullWhite: rgba(255, 255, 255, 1);
$darkWhite: rgba(255, 255, 255, 0.87);
$lightWhite: rgba(255, 255, 255, 0.54);

$success: url(../../assets/images/chenggong.png); // 成功图标


