// font
$snFontEN:-apple-system-font,"Helvetica Neue";
$snFontCN:"SourceHanSansCN-Regular","Hiragino Sans GB","Microsoft YaHei";
$snFontSans:sans-serif;
$snFontDefault:$snFontCN,$snFontEN,$snFontSans;